<!DOCTYPE HTML>
<head>
  
  <meta charset="utf-8" />
  <style>
    body {

      font-family: Didot;
      text-align:center;
      margin: auto;
      background-color: lightblue;
        }
    .center {
      text-align:center;
      margin: auto;
      width: 50%;
    }
    .Powrót {
      text-align: right;
      margin-right: 15px;
    }
    h2 {
      font-size: 40px ;
    }
    h1 {
      font-size: 60px ;
     }
    
    a:link {
      text-decoration: none;
      color: black;
    }
    a:visited {
      color: black;
    }
    a:hover {
      color: #76767a;
    } 
</style>
</head>
<body>
<div class="Powrót"> <%= link_to "Powrót do kategorii  ", "/categories" %> </div>
<br>
<h2>Koszyk</h2>
<table class = "center">
  <thead>
    <tr>
      <td>Produkt</td>
      <td>Cena</td>
      <td>Ilość</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %> 
      <tr>
        <td><%= item.product.title %></td>
        <td><%= number_to_currency item.price %></td>
        <td><%= item.quantity %></td>
        <td>
          <%= form_for item, method: :delete do |f| %>
            <%= f.submit "Remove" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</body>

<tfoot>
  <tr>
    <td colspan="4" align="right">
      <%= number_to_currency current_cart.sub_total %>
    </td>
  </tr>
</tfoot>

<%= link_to 'Płatność', checkout_path%>